/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:&display=swap');

/* DOCUMENT RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    background-image: linear-gradient(var(--primary--color), var(--secondary-color));
    background-repeat: no-repeat;
    font-family: var(--ff);
}

image {
    display: block;
    max-width: 100%;
    height: auto;
}

input, button, textarea {
    font: inherit;
}

h1 {
    font-size: var(--fs-900);
    color: var(--neutral-color);
}

h2 {
    font-size: var(--fs-500);
}

h3 {
    font-size: var(--fs-300);
}

p {
    font-size: var(--fs-300);
    color: var(--neutral-color);
}


/* VARIABLES */
:root {
    --primary--color: #6C27FF;
    --secondary-color: #2A3068;
    --neutral-color: #fff;

    --ff:'Montserrat', sans-serif;

    --fs-900: clamp(2rem, 4vw, 4rem);
    --fs-500: clamp(1rem, 3vw, 3rem);
    --fs-300: clamp(0.6rem, 1vw, 1rem);


}

/* UTILITY CLASSES */
.margin-block {
    margin-block: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: min(1200px 80%);
    padding: 2rem;
    margin-inline: auto;
}


.header__nav {
    width: min(1300px, 90%);
    margin-inline: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    background-image: radial-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.234));
    border-radius: 1rem;
    padding: 1.5rem;
    color: var(--neutral-color);
}

nav ul {
    display: none;
}


.hamburger {
    display: block;
}

.hamburger .line {
    width: 40px;
    height: 4px;
    background-color: var(--neutral-color);
    margin-bottom: 3px;
    border-radius: 5px;
}

button {
    display: none;
}

.hero__section img {
    width: 100%;
    height: auto;
}


@media (min-width:60em) {

    .container {
        flex-direction: row;
        width: min(1300px, 90%);
        margin-inline: auto;
        gap: 2rem;
    }
    .container div {
        width: 50%;
    }

    .hamburger {
        display: none;
    }

    nav {
        padding: 20px 50px;
    }
    
    nav ul {
        display: flex;
        list-style: none;
    }

    nav a {
        text-decoration: none;
        color: var(--neutral-color);
        margin-inline: 2rem;
        font-size: var(--fs-300);
        font-weight: 100;
    }
}






