/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:&display=swap');

/* DOCUMENT RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    background-image: linear-gradient(var(--primary--color), var(--secondary-color));
    background-repeat: no-repeat;
    font-family: var(--ff);
}

image {
    display: block;
    max-width: 100%;
    height: auto;
}

input, button, textarea {
    font: inherit;
}

h1 {
    font-size: var(--fs-900);
}

h2 {
    font-size: var(--fs-500);
}

h3 {
    font-size: var(--fs-300);
}

h4 {

}





/* VARIABLES */
:root {
    --primary--color: #6C27FF;
    --secondary-color: #2A3068;

    --ff:'Montserrat', sans-serif;

    --fs-900: clamp(2rem, 5vw, 5rem);
    --fs-500: clamp(1rem, 3vw, 3rem);
    --fs-300: clamp(0.6rem, 1vw, 1rem);
    --fs-100: clamp(0.4rem, 0.5vw, 0.5rem)


}
